

  <nav>
    <ul class="pagination">
      <li class="page-item" 
      [ngClass]="{disabled : currentPage === 0}">
        <a (click)="currentPage = currentPage-1" class="page-link">Previous</a>
      </li>
      <ng-container *ngFor="let image of images ; let i = index" >
          <li class="page-item" 
          [ngClass]="i === currentPage ? 'active' : 'passive'"
          *ngIf="pageSlider(i)"
          >
            <a (click) = "currentPage = i" class="page-link">{{i+1}}</a>
          </li>
      </ng-container>

      <li class="page-item"
      [ngClass]="{disabled : currentPage === images.length-1}" 
      > 
        <a (click)="currentPage = currentPage+1"  class="page-link">Next</a>
      </li>
    </ul>
  </nav>

  <div>
    <h4 appFirst >{{images[currentPage].title}}</h4>
    <img class="imgİ" [src]="images[currentPage].url">
  </div>

 